@using SmartLearning.Web.DTO.ManageViewModels
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <partial name="_BreadCrumbPartial" />
        <div class="content-body">
            <div class="row">
                <!-- left menu section -->
                <partial name="_ManageAccountNavigation" />
                <!--/ left menu section -->
                <!-- right content section -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <form class="validate-form" asp-controller="ManageAccount" asp-action="ChangePassword" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="OldPassword">Old Password</label>
                                            <div class="input-group form-password-toggle input-group-merge">
                                                <input asp-for="OldPassword" class="form-control" placeholder="Old Password" autocomplete="current-password" />
                                                <div class="input-group-append">
                                                    <div class="input-group-text cursor-pointer">
                                                        <i data-feather="eye"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="account-new-password">New Password</label>
                                            <div class="input-group form-password-toggle input-group-merge">
                                                <input asp-for="NewPassword" class="form-control" placeholder="New Password" autocomplete="new-password" />
                                                <div class="input-group-append">
                                                    <div class="input-group-text cursor-pointer">
                                                        <i data-feather="eye"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="account-retype-new-password">Retype New Password</label>
                                            <div class="input-group form-password-toggle input-group-merge">
                                                <input asp-for="ConfirmPassword" class="form-control" placeholder="New Password" autocomplete="new-password" />
                                                <div class="input-group-append">
                                                    <div class="input-group-text cursor-pointer"><i data-feather="eye"></i></div>
                                                </div>
                                            </div>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mr-1 mt-1">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--/ right content section -->
            </div>
        </div>
    </div>
</div>