@using SmartLearning.Core.Entities.ClassroomAggregate
@model Classroom

@{
    ViewData["Title"] = "Add Class";
}

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <partial name="_BreadCrumbPartial" />
        <div class="content-body d-flex justify-content-center">
            <div class="card col-md-4">
                <div class="card-header">
                    <h1>Add Class</h1>
                </div>
                <hr/>
                <div class="card-body">
                    <form asp-action="Add">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="BoardId" class="control-label"></label>
                            <select asp-for="BoardId" class="form-control" asp-items="ViewBag.BoardId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="StandardId" class="control-label"></label>
                            <select asp-for="StandardId" class="form-control" asp-items="ViewBag.StandardId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="SubjectId" class="control-label"></label>
                            <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </form>
                    <div>
                        <a asp-action="Index">Back to List</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageJS{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

