@using SmartLearning.Web.DTO
@model ChapterViewModel

@{
    ViewData["Title"] = "Edit Chapter";
}

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <partial name="_BreadCrumbPartial" />
        <div class="content-body d-flex justify-content-center">
            <div class="card col-md-4">
                <div class="card-header"><h2>Edit Chapter</h2></div>
                <hr />
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Id" class="form-label"></label>
                            <input asp-for="Id" class="form-control" type="text" tabindex="1" readonly="readonly" />
                        </div>
                        <div class="form-group">
                            <label asp-for="SerialNo" class="control-label"></label>
                            <input asp-for="SerialNo" class="form-control" />
                            <span asp-validation-for="SerialNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group d-flex justify-content-center align-items-center">
                            <label asp-for="BoardId" class="form-label mr-1"></label>
                            <div class="btn-group align-justify mr-1">
                                <select asp-items="Model.Boards" asp-for="BoardId" class="form-control mb-1">
                                </select>
                            </div>
                            <label asp-for="StandardId" class="form-label mr-1"></label>
                            <div class="btn-group">
                                <select asp-items="Model.Standards" asp-for="StandardId" class="form-control mb-1">
                                </select>
                            </div>
                            <label asp-for="SubjectId" class="form-label mr-1"></label>
                            <div class="btn-group">
                                <select asp-items="Model.Subjects" asp-for="SubjectId" class="form-control mb-1">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageJS {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
